$size: 65px;

.App {
	text-align: center;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.App-header {
	background-color: #ff85e5;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	overflow: hidden;
}

.unicorn:after {
	position: absolute;
	content: "\1F984";
	font-size: 50px;
}

.cat:after {
	position: absolute;
	content: "\1F63B";
	font-size: 50px;
}

.rainbow:after {
	position: absolute;
	content: "\1F308";
	font-size: 50px;
}

.flag:after {
	position: absolute;
	content: "\1F3F3"+ "\FE0F"+ "\200D"+ "\1F308";
	font-size: 50px;
}

.icon {
	position: absolute;
}

.uni {
	animation: x 6.1s linear 0s infinite alternate,
		y 5.7s linear 0s infinite alternate;
}

.rain {
	animation: x 3.3s linear 0s infinite alternate,
		y 4.8s linear 0s infinite alternate;
}

.fl {
	animation: x 4.2s linear 0s infinite alternate,
		y 3.7s linear 0s infinite alternate;
}

.ca {
	animation: x 5.4s linear 0s infinite alternate,
		y 7s linear 0s infinite alternate;
}

@keyframes x {
	from {
		left: 0;
	}
	to {
		left: calc(100vw - #{$size});
	}
}

@keyframes y {
	from {
		top: 0;
	}
	to {
		top: calc(100vh - #{$size});
	}
}
